/* noto-sans-mono-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 300;
  src: url('./src/fonts/noto-sans-mono-v30-latin-300.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./src/fonts/noto-sans-mono-v30-latin-300.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* noto-sans-mono-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./src/fonts/noto-sans-mono-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./src/fonts/noto-sans-mono-v30-latin-regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* noto-sans-mono-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./src/fonts/noto-sans-mono-v30-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./src/fonts/noto-sans-mono-v30-latin-500.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* noto-sans-mono-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 600;
  src: url('./src/fonts/noto-sans-mono-v30-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./src/fonts/noto-sans-mono-v30-latin-600.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* noto-sans-mono-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./src/fonts/noto-sans-mono-v30-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./src/fonts/noto-sans-mono-v30-latin-700.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* noto-sans-mono-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 800;
  src: url('./src/fonts/noto-sans-mono-v30-latin-800.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./src/fonts/noto-sans-mono-v30-latin-800.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* noto-sans-mono-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 900;
  src: url('./src/fonts/noto-sans-mono-v30-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./src/fonts/noto-sans-mono-v30-latin-900.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans Mono', monospace;
  color: #1d313c;
  /* background-color: #fadac1; */
  /* background-color: #e7dcc9; */
  /* background-color: #e7ded7; */
  background-color: #f2f2f2;
}

.portfolio {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  /* border: 1px solid crimson; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.portfolio-title {
  margin-bottom: 70px;
  font-size: 32px;
  font-weight: 700;
  color: rgba(29, 49, 60, .9);
  text-align: center;
}

.portfolio-wrap {
  width: 100%;
  /* border: 1px solid aqua; */
}

.portfolio-header {
  display: flex;
  background-color: #eaeaea;
  border-radius: 15px;
  /* border: 1px solid #1d313c; */
}

.portfolio-header-item {
  flex-basis: 20%;
  padding: 20px 20px 20px 50px;
}

.portfolio-header-text {
  /* display: block; */
  font-weight: 600;
  /* text-align: center; */
}

.portfolio-list {
  font-size: 14px;
  list-style: none;
}

.portfolio-list-item {
  display: flex;
}

.portfolio-company-field,
.portfolio-ticker-field,
.portfolio-exchange-field,
.portfolio-price-field,
.portfolio-percent-field {
  flex-basis: 20%;
  padding: 20px 20px 20px 50px;
}

/* .portfolio-company-field-text,
.portfolio-ticker-field-text,
.portfolio-exchange-field-text,
.portfolio-price-field-text,
.portfolio-percent-field-text {
  font-size: 14px;
} */


/* использованая жирность шрифта: 400, 500, 700 */